body{
    display:flex;
    flex-direction: column;
    font-family: 'Walter Turncoat', cursive;
}
.container {
    display: flex;
}
li {
    list-style-type: none;
    font-size: 3vw;

}
ul {
    font-style: italic;
    font-weight: normal;
    margin-top: inherit;
    margin-bottom: inherit;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2vw;
}
ul>li:nth-child(odd){
    color: black;
}​
.names {
    margin-top: 1vw;
}
h2 {
    text-align: center;
    font-size: 4vw;
}
.headerPlayers{
    margin-top: inherit;
    margin-bottom: inherit;
    font-size: 3vw;
}
.d-flex{
    margin-top: 3vw;
    margin-bottom: 1vw;
}

input[type="text" i] {
    padding: 1px 1px;
    font-family: 'Walter Turncoat', cursive; 
    background-color: transparent;
    color: white;
    width: 25vw;
    height: 5vw;
    border:white solid 0.3vw;
    border-radius: 0.7rem;
    font-size: 2.4vw;
    padding-top: 0vw;

}

.score{
    color: white;
    text-decoration: none;
    font-family: 'Walter Turncoat', cursive;
    background-color: transparent;
    text-align:center;
    font-size: 4vw;
    border: none;
    padding-left: 1rem;
    transition: transform .2s;

}
.score:hover{
    transform: scale(1.2);
}
::placeholder {
    color: white;
}

.wrapper {
    border-bottom: none;
}
.nameListButtonsGroup {
    display: flex;
    flex-direction: column;
    font-size: 2vw;
}

.addHeader2 {
    font-size: 2vw;
}
.multiples {
    font-size: 1vw;
}
.nameListButtons {
    color: white;
    text-decoration: none;
    font-family: 'Walter Turncoat', cursive;
    background-color: transparent;
    text-align:center;
    font-size: 2vw;
    border: none;
    padding-left: 1rem;
    transition: transform .2s;
}
.nameListButtonsGenerate{
    color: rgba(255, 217, 0, 0.87);
    text-decoration: none;
    font-family: 'Walter Turncoat', cursive;
    background-color: transparent;
    text-align:center;
    font-size: 4.5vw;
    border: none;
    padding-left: 1rem;
    transition: transform .2s;
}
.nameListButtonsGenerate:hover{
    transform: scale(1.2);
}
.nameListButtons:hover{
    transform: scale(1.2);
}
.score{
    color: white;
    text-decoration: none;
    font-family: 'Walter Turncoat', cursive;
    background-color: transparent;
    text-align:center;
    font-size: 4vw;
    border: none;
    padding-left: 1rem;
    transition: transform .2s;
}
.score:hover{
    transform: scale(1.2);
}
.playerButtonRound{
    color: white;
    text-decoration: none;
    font-family: 'Walter Turncoat', cursive;
    background-color: transparent;
    text-align:center;
    font-size: 5vw;
    border: none;
    padding-left: 1rem;
    transition: transform .2s;
}
.playerButtonRound:hover{
    transform: scale(1.2);
}
.initialRoundContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 20%
}
.buttonAdd {
    color: rgba(255, 217, 0, 0.87);
    text-decoration: none;
    font-family: 'Walter Turncoat', cursive;
    background-color: transparent;
    text-align:center;
    font-size: 3vw;
    border: none;
    padding-left: 1rem;
    transition: transform .2s;
}
.buttonAdd:hover{
    transform: scale(1.2);
}
.addHeader {
    margin-top: 0;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .addHeader {
        font-size: 7vw;
    }
    .buttonAdd {
        font-size: 7vw;
    }
    input[type="text" i] {
        height: 8vw;
        width: 30vw;
    }
    .d-flex {
        padding-left: 3rem;
        padding-bottom: 1rem;
    }
}