.header {
text-decoration: underline;
font-size: 4vw;
margin-bottom: 0;
}
.headerSub {
text-decoration: underline;
font-size: 2vw;
}
.pairs {
margin-top: inherit;
margin-bottom: inherit;
font-size: 3vw;
}
.playerButton {
    color: white;
    text-decoration: none;
    font-family: 'Walter Turncoat', cursive;
    background-color: transparent;
    text-align:center;
    font-size: 3vw;
    border: none;
    padding-left: 1rem;
    transition: transform .2s;
    margin-top: 4vw;
}

.shuffleButton{
    color: yellow;
    text-decoration: none;
    font-family: 'Walter Turncoat', cursive;
    background-color: transparent;
    text-align:center;
    font-size: 3vw;
    border: none;
    padding-left: 1rem;
    transition: transform .2s;
    margin-top: 3vw;

}
.shuffleButton:hover{
    transform: scale(1.2);
}
.playerButton:hover{
    transform: scale(1.2);
}
.TournamentHeadingRounds{
    font-size: 3vw;
    margin-bottom: 0;
}
.error {
    text-align: center;
    font-size: 2vw;
}
.TournamentHeading {
    font-size: 3vw;
    margin-right: 3vw;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 2vw;
}

.generateWinners {
    margin-top: inherit;
    margin-bottom: inherit;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3vw;
    font-size: 2.5vw;
}

.nextRound {
    padding-left: 1vw;
    color: yellow;
    margin-top: 3vw;
    transition: transform .2s;
}

.winnersTag {
    font-size: 5vw;
    text-align: center;
    margin-top:20%;
    color: yellow;
}
.nextRound:hover{
    transform: scale(1.2);
    cursor: pointer;
}


@media (max-width: 768px) {
    .initialRoundContainer {
        margin-left: 20%;
    }
}

.fireworks {
      object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.restart {
    text-align: center;
    color: yellow;
}
